.root {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(259, 0%, 93%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
.logo {
  @apply text-neutral-600 text-2xl font-semibold cursor-pointer;
}

.header {
  @apply text-center flex items-center justify-center;
  min-height: 88px;
}

.heroTitle{
  @apply text-4xl md:text-5xl text-center font-semibold;
}
.mainTitle {
  background: linear-gradient(to right, #1754CF 0%, #F02BD6 100%);
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;
}

.heroTitleAccent {
  @apply font-extrabold underline italic;
}
.heroTitleArrow {
  height: 80px;
}

.subtitle {
  @apply text-accent-5 md:text-xl mt-8;
}

.subscribeForm {
  @apply flex md:flex-row flex-col items-stretch md:items-center gap-2 flex-1 mx-auto mt-8;
}

.emailInput {
  @apply border border-accent-6 px-2 py-2 rounded-sm flex-1;
}

.submit {
  @apply text-accent-0 bg-secondary py-2 px-4 rounded-sm transition-all;
}

.submit:hover {
  @apply bg-hover-2;
}

.hero{
  @apply flex md:flex-row flex-col items-stretch justify-center;
}

.heroContent {
  @apply relative w-full;

}
.heroImage {
  @apply md:w-3/5;
}


.featuresSection {
  @apply bg-dark text-white;
}

.featuresTitle {
  @apply text-3xl px-2 md:text-5xl py-8 text-center;
}


.featureItemText{
  @apply text-center max-w-xs;
}

.featureItemTextContainer {
  @apply flex justify-center items-center w-96;
}

.featureItemImageContainer {
  @apply border border-orange-light rounded-md overflow-hidden p-2 md:w-96 my-4 w-64;
}
