.root {
}

.logo {
  @apply text-primary text-2xl cursor-pointer;
}

.header {
  @apply flex items-center justify-center md:justify-between container mx-auto;
  min-height: 88px;
}

.heroTitle{
  @apply text-4xl md:text-5xl text-center font-semibold;
}
.mainTitle {
  background: linear-gradient(to right, #1754CF 0%, #F02BD6 100%);
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;
}

.heroTitleAccent {
  @apply font-extrabold underline italic;
}
.heroTitleArrow {
  height: 80px;
}

.subtitle {
  @apply text-accent-7 md:text-xl mt-8;
}

.subscribeForm {
  @apply flex md:flex-row flex-col items-stretch md:items-center gap-2 flex-1 mx-auto mt-8;
}

.emailInput {
  @apply border border-accent-6 px-2 py-2 rounded-sm flex-1;
}

.submit {
  @apply text-accent-0 bg-secondary py-2 px-4 rounded-sm transition-all;
}

.submit:hover {
  @apply bg-hover-2;
}

.hero{
  @apply flex md:flex-row flex-col justify-center gap-6;
}

.heroContent {
  @apply relative w-full;

}
.heroImage {
  @apply md:w-2/5 mt-8;
}


.featuresSection {
  @apply bg-accent-8 text-white;
}

.featuresTitle {
  @apply text-3xl px-2 md:text-5xl py-8 text-center;
}


.featureItemText{
  @apply text-center max-w-xs;
}

.featureItemTextContainer {
  @apply flex justify-center items-center w-96;
}

.featureItemImageContainer {
  @apply border border-blue-light rounded-md overflow-hidden p-2 md:w-96 my-4 w-64;
}
