.root {

}

.button {
  @apply rounded-xl border bg-blue text-accent-0 px-4 py-3;  
  @apply hover:bg-blue-light;
}

.retake {
  @apply bg-accent-3 hover:bg-accent-2;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.loading {
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
